manifest {
    name = 'PhiloBacter'
    nextflowVersion = '>= 20.10.0'
    author = 'Nehleh Kargarfard'
    mainScript = 'main.nf'
}



params {

outDir = 'Results'
help = false

}

process {
    conda = 'PhiloBacter.yml'

    //executor = 'local'
    //scratch = true
    //cpus  = 1
    //memory = 12.GB
   
}


profiles {

    standard {
        process.executor = 'local'
    }

    hpc {
        process.executor = 'pbs'
        scratch = true
        cpus  = 4
        memory = 32.GB
    }

}


timeline {
  enabled = true
  file = "$params.outDir/timeline.html"
}


report {
  enabled = true
  file = "$params.outDir/report.html"
}
